#Body{
justify-content: center;
align-items: center ;
background-color: rgb(39, 53, 13);
}

.isiform{
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}

.formregister{
  padding: 30px;
  justify-content: center;
  text-align: center;
}
