.footer {
    font-family: 'Times New Roman', Times, serif;
    padding: 20px 50px;
    padding-bottom: 30px;
    background-color: grey;
    color: black;
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    text-align: center;
    position: relative;
  }

